<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>ServletDemo1</servlet-name>
    <servlet-class>hehe.study.ServletDemo1</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>benjamin</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>12345</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo1</servlet-name>
    <url-pattern>/ServletDemo1222</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletdemo2</servlet-name>
    <servlet-class>hehe.study.ServletDemo2</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>Joker</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>888888</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletdemo2</servlet-name>
    <url-pattern>/ServletDemo2</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>/welcome.jsp</welcome-file>
  </welcome-file-list>
</web-app>